body{
    background-color: #fff6ed;
}

.container_clair{
    margin-inline: auto;
    padding-bottom: 0.1vh;
    width: 100%;
}

.container_sombre{
    background-color: #e4d4c4;
    margin-inline: auto;
    padding-bottom: 0.1vh;
    width: 100%;
}

h1{
    font-size: 3.2rem;
    font-weight: normal;
    margin-bottom: 0;
}

h2{
    font-size: 2.2rem; 
    margin-left: 2rem;
    font-weight: normal;
}

.titre{
    display: flex;
    justify-content: center;
    width: 100%;
}

.texte1{
    width: 68%;
    flex-wrap: wrap;
}

.info_intro{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: 12rem;
}

.liste_scolaire li{
    font-size: 1.5rem;
}

.liste_scolaire{
    margin-left: 10rem;
}

.BLOC{
    display: flex;
    justify-content: space-around;
}

.icon{
    display: flex;
    flex-direction: column;
}

.raw{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 450px) {
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
        margin-left: 0;
    }
    .h2{
        display: flex;
        justify-self: center;
    }
}